<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alternance tah les fous</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="icon" href="../src/logo tah les fous.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
<nav>
    {% if is_logged_in %}
    <a href="/">Accueil</a>
    <a href="/recherche">Recherche</a>
    <a href="/post">Poster</a>
    <a href="/profil">Profil</a>
    <a href="/logout">Déconnexion</a>
    {% else %}
    <a href="/">Accueil</a>
    <a href="/recherche">Recherche</a>
    <a href="/login">Connexion</a>
    <a href="/register">Inscription</a>
    {% endif %}
</nav>
<section class="page">
    <div class="contenu">
        <div class="pres">
            <h1>
                Vous cherchez des opportunités de <strong>stages</strong> ou <strong>d'alternances</strong> ? Vous êtes au bon endroit !
            </h1>
            <h3>
                Bienvenue sur alternance tah les fous ! Un site dédié à la recherche de stages et d'alternances pour les étudiants.<br>
                Ici, vous trouverez toutes les informations nécessaires pour trouver votre stage ou alternance idéale.
            </h3>
        </div>
        <img src="/site/src/ecoliere.png" alt="étudiante" class="etudiante">
    </div>
</section>
<footer>
    <div>
        <h3>Navigation</h3>
        <a href="/">Accueil</a><br>
        {% if is_logged_in %}
        <a href="/profil">Profil</a><br>
        <a href="/post">Poster</a><br>
        <a href="/logout">Déconnexion</a><br>
        {% else %}
        <a href="/login">Connexion</a><br>
        <a href="/register">Inscription</a>
        {% endif %}
    </div>
    <div>
        <h3>Nous suivre</h3>
        <a href="https://www.facebook.com/alternancetahlesfous">Facebook</a><br>
        <a href="https://www.instagram.com/alternancetahlesfous/">Instagram</a><br>
        <a href="https://www.linkedin.com/company/alternance-tah-les-fous/">LinkedIn</a>
    </div>
</footer>
</body>
</html>